* {
  font-family: 'Alegreya', serif;
  font-size: 14px;
}

:root {
  --dark-bg-color: #294653;
  --light-bg-color: #ffffff;
  --light-text: #ffffff;
  --dark-text: #000000;
  --peach-text: #e8e2cf;
  --dark-header: #294653;
  --link-color: #65b2b8;
  --accent-color: #91ab6d;
  --cta-color: #f0e94e;
  --background-gray: #efefef;
}

section {
  height: 60vh;
}

nav {
  width: 100%;
  position: fixed;
  text-align: center;
  padding: 10px;
  color: var(--light-text);
  font-size: 2em;
  z-index: 100;
}

h1, h2 {
  font-family: 'Alegreya Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

h1 {
  font-size: 2em;
}

h2 {
  color: var(--dark-text);
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-weight: 100;
  color: var(--peach-text);
}

@media only screen and (orientation: landscape) {
  .section {
    height: 100vh;
  }
  h1, h3 {
    margin: 0px auto 0px;
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  nav {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
  h1, h3 {
    margin: 1em auto 1em;
  }
}