.cta-layout button {
  border: solid 3px var(--cta-color);
  background-color: var(--dark-bg-color);
  padding: 15px 10px;
  font-size: 2em;
  color: var(--light-text);
  font-weight: 100;
  text-transform: uppercase;
}

.cta-layout h1, h3 {
  margin: 5px;
}

.cta-layout .fa-caret-down {
  font-size: 28px;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: var(--accent-color);
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.member-info h2 {
  margin: 0;
}

.member-info h2 span {
  font-size: 1.5em;
}

.member-info ul {
  text-align: left;
}

.skills {
  font-size: 0.9em;
  text-transform: uppercase;
  margin: 0 5% 0;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 5%;
  margin: 0 auto;
  border: solid 2px black;
}

#filter-section {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

#filter-section button {
  background-color: var(--dark-bg-color);
  color: white;
  padding: 1em 1em;
  margin-bottom: 1em;
}

#filter-section input {
  margin-bottom: 1em;
  border: solid 1px black;
  padding: 1em 1em;
}

@media only screen and (orientation: landscape) {
  .cta-layout button {
    width: 100%;
    padding: 10px;
  }
}

@media only screen and (min-width: 736px) and (orientation: landscape) {
  .cta-layout button {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 375px) and (orientation: portrait) {
  .cta-layout h1, h3 {
    margin: 5px;
  }
  .cta-layout button {
    margin: 10px;
  }
}

@media only screen and (min-width: 812px) and (orientation: landscape) {
}

@media only screen and (min-width: 414px) and (orientation: portrait) {
  .cta-layout h1, h3 {
    margin: 5px;
  }
  .cta-layout button {
    margin: 10px;
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  .cta-layout {
    padding-top: 25%;
  }
  .cta-layout button {
    width: 60%;
    margin: 5% auto;
  }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .cta-layout {
    padding-top: 20%;
  }
  .cta-layout button {
    margin: 5% auto;
    width: 60%;
  }

  #filter-section {
    flex-direction: row;
  }

  #filter-section button {
    margin-right: 1em;
  }
  
  #filter-section input {
    margin-right: 1em;
  }

  .member-info {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center; */
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}