@import "compass/css3";
body,
form {
    margin: auto;
    padding: 1em;
}

a {
    padding-left: 1em;
}

a:hover {
    color: #03F;
}

img {
    border-radius: 50%;
    height: 10em;
    width: 10em;
}

img.icon{
    height: 48px;
    width: 48px;
}

.label  {
    color: white;
    padding: 8px;
    border-radius:  45%;
}

.skills{
    background-color: teal;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: #FFF;
}

.footer {
    background: #FFF
}

.main {
    background: #FFF;
}

.aside-1 {
    background: #FFF;
}

.aside-2 {
    background: #FFF;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }
    .aside-1 {
        order: 1;
    }
    .main {
        order: 2;
    }
    .aside-2 {
        order: 3;
    }
    .footer {
        order: 4;
    }
}